body {
 }

.container {
  width: 100%;
  height: 100vh;
/*  border: 1px solid red;*/
  display: table;
  vertical-align: middle;
  border-collapse: separate;
  border-spacing: 1em;
  text-align: center;
}
.flexy-container {
  display: table-cell;
  vertical-align: middle;
  justify-content: space-between;
  align-items: flex-center;
}

.cards {
  border: solid 2px black;
  margin: 3%;
  padding: 2%;
  display: table-cell;
  vertical-align: top;
  text-align: justify;
  position: relative;
}
.footsies {
/*  display: table-footer-group;*/
/*  vertical-align: bottom;
  display: table-cell;*/
position: absolute;
bottom: 0;
margin-top: 2%;
margin-bottom: 2%;
}

@media only screen and (max-width: 640px) {
  .cards {
    display: block;
  }
}

