body {
    height: 98vh;
 }

.container {
  display: flex;
  align-items: center;
  height: 100%;
}
.flexy-container {
  display: flex;
  width: 100%;
}

.cards {
  border: solid 2px black;
  margin: 1%;
  padding: 2%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.details {
  text-align: justify;
}
.footsies {
  align-self: flex-end;
}

@media only screen and (max-width: 640px) {
  .container, .flexy-container {
    display: block;
    margin: auto 0;
  }
  .cards {
    display: block;
    width: 95%;
    margin: 1% auto;
  }
}
